th {
  border-bottom: 2px solid black;
}
td {
  padding-left: 1rem;
}

.section{
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 2rem;
}
.section > input {
  color: white;
}
.section > button {
  margin-top: 3rem;
  margin-right: 1rem;
}

select {
  background-color: black;
  color: white;
}
